extends navbar
doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
  // Title
  title Delicious - Food Blog Template | About
  // Favicon
  link(rel='icon' href='images/critique/img/core-img/favicon.ico')
  // Core Stylesheet
  link(rel='stylesheet' href='css/critique/css/style.css')
// Preloader
#preloader
  i.circle-preloader
  img(src='images/critique/img/core-img/salad.png' alt='')
// Search Wrapper
.search-wrapper
  // Close Btn
  .close-btn
    i.fa.fa-times(aria-hidden='true')
  .container
    .row
      .col-12
        form(action='#' method='post')
          input(type='search' name='search' placeholder='Type any keywords...')
          button(type='submit')
            i.fa.fa-search(aria-hidden='true')
//- // ##### Header Area Start #####
//- header.header-area
//-   // Top Header Area
//-   .top-header-area
//-     .container.h-100
//-       .row.h-100.align-items-center.justify-content-between
//-         // Breaking News
//-         .col-12.col-sm-6
//-           .breaking-news
//-             #breakingNewsTicker.ticker
//-               ul
//-                 li
//-                   a(href='#') Hello World!
//-                 li
//-                   a(href='#') Welcome to Critque.
//-                 li
//-                   a(href='#') Checkout my endevours!
//-         // Top Social Info
//-         .col-12.col-sm-6
//-           .top-social-info.text-right
//-             a(href='#')
//-               i.fa.fa-pinterest(aria-hidden='true')
//-             a(href='#')
//-               i.fa.fa-facebook(aria-hidden='true')
//-             a(href='#')
//-               i.fa.fa-twitter(aria-hidden='true')
//-             a(href='#')
//-               i.fa.fa-dribbble(aria-hidden='true')
//-             a(href='#')
//-               i.fa.fa-behance(aria-hidden='true')
//-             a(href='#')
//-               i.fa.fa-linkedin(aria-hidden='true')
//-   // Navbar Area
//-   .delicious-main-menu
//-     .classy-nav-container.breakpoint-off
//-       .container
//-         // Menu
//-         nav#deliciousNav.classy-navbar.justify-content-between
//-           // Logo
//-           a.nav-brand(href='index.html')
//-             img(src='images/critique/img/core-img/logo.png' alt='')
//-           // Navbar Toggler
//-           .classy-navbar-toggler
//-             span.navbarToggler
//-               span
//-               span
//-               span
//-           // Menu
//-           .classy-menu
//-             // close btn
//-             .classycloseIcon
//-               .cross-wrap
//-                 span.top
//-                 span.bottom
//-             // Nav Start
//-             .classynav
//-               ul
//-                 li.active
//-                   a(href='index.html') Home
//-                 li
//-                   a(href='#') Pages
//-                   ul.dropdown
//-                     li
//-                       a(href='/critique') Home
//-                     li
//-                       a(href='/critique/about') About Us
//-                     li
//-                       a(href='/critique/food_post') Blog Post
//-                     li
//-                       a(href='/critique/hair_post') Receipe Post
//-                     li
//-                       a(href='/critique/contact') Contact
//-                     li
//-                       a(href='/critique/elements') Elements
//-                     li
//-                       a(href='#') Dropdown
//-                       ul.dropdown
//-                             li
//-                             a(href='/critique') Home
//-                             li
//-                             a(href='/critique/about') About Us
//-                             li
//-                             a(href='/critique/food_post') Blog Post
//-                             li
//-                             a(href='/critique/hair_post') Receipe Post
//-                             li
//-                             a(href='/critique/contact') Contact
//-                             li
//-                             a(href='/critique/elements') Elements
//-                             li
//-                           a(href='#') Dropdown
//-                           ul.dropdown
//-                             li
//-                             a(href='/critique') Home
//-                             li
//-                             a(href='/critique/about') About Us
//-                             li
//-                             a(href='/critique/food_post') Blog Post
//-                             li
//-                             a(href='/critique/hair_post') Receipe Post
//-                             li
//-                             a(href='/critique/contact') Contact
//-                             li
//-                             a(href='/critique/elements') Elements
//-                             li
//-                 li
//-                   a(href='#') Mega Menu
//-                   .megamenu
//-                     ul.single-mega.cn-col-4
//-                       li.title Catagory
//-                       li
//-                         a(href='index.html') Home
//-                       li
//-                         a(href='about.html') About Us
//-                       li
//-                         a(href='blog-post.html') Blog Post
//-                       li
//-                         a(href='receipe-post.html') Receipe Post
//-                       li
//-                         a(href='contact.html') Contact
//-                       li
//-                         a(href='elements.html') Elements
//-                     ul.single-mega.cn-col-4
//-                       li.title Catagory
//-                       li
//-                         a(href='index.html') Home
//-                       li
//-                         a(href='about.html') About Us
//-                       li
//-                         a(href='blog-post.html') Blog Post
//-                       li
//-                         a(href='receipe-post.html') Receipe Post
//-                       li
//-                         a(href='contact.html') Contact
//-                       li
//-                         a(href='elements.html') Elements
//-                     ul.single-mega.cn-col-4
//-                       li.title Catagory
//-                       li
//-                         a(href='index.html') Home
//-                       li
//-                         a(href='about.html') About Us
//-                       li
//-                         a(href='blog-post.html') Blog Post
//-                       li
//-                         a(href='receipe-post.html') Receipe Post
//-                       li
//-                         a(href='contact.html') Contact
//-                       li
//-                         a(href='elements.html') Elements
//-                     .single-mega.cn-col-4
//-                       .receipe-slider.owl-carousel
//-                         a(href='#')
//-                           img(src='images/critique/img/bg-img/bg1.jpg' alt='')
//-                         a(href='#')
//-                           img(src='images/critique/img/bg-img/bg6.jpg' alt='')
//-                 li
//-                   a(href='receipe-post.html') Receipies
//-                 li
//-                   a(href='receipe-post.html') 4 Vegans
//-                 li
//-                   a(href='contact.html') Contact
//-               // Newsletter Form
//-               .search-btn
//-                 i.fa.fa-search(aria-hidden='true')
//-             // Nav End
//- // ##### Header Area End #####
// ##### Breadcumb Area Start #####
.breadcumb-area.bg-img.bg-overlay(style='background-image: url(img/bg-img/breadcumb1.jpg);')
  .container.h-100
    .row.h-100.align-items-center
      .col-12
        .breadcumb-text.text-center
          h2 About us
// ##### Breadcumb Area End #####
// ##### About Area Start #####
section.about-area.section-padding-80
  .container
    .row
      .col-12
        .section-heading
          h3 Who we are and what we do?
    .row
      .col-12
        h6.sub-heading.pb-5
          | Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
        p.text-center
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin malesuada et mauris ut lobortis. Sed eu iaculis sapien, eget luctus quam. Aenean hendrerit varius massa quis laoreet. Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    .row.align-items-center.mt-70
      // Single Cool Fact
      .col-12.col-sm-6.col-lg-3
        .single-cool-fact
          img(src='images/critique/img/core-img/salad.png' alt='')
          h3
            span.counter 1287
          h6 Amazing receipies
      // Single Cool Fact
      .col-12.col-sm-6.col-lg-3
        .single-cool-fact
          img(src='images/critique/img/core-img/hamburger.png' alt='')
          h3
            span.counter 25
          h6 Burger receipies
      // Single Cool Fact
      .col-12.col-sm-6.col-lg-3
        .single-cool-fact
          img(src='images/critique/img/core-img/rib.png' alt='')
          h3
            span.counter 471
          h6 Meat receipies
      // Single Cool Fact
      .col-12.col-sm-6.col-lg-3
        .single-cool-fact
          img(src='images/critique/img/core-img/pancake.png' alt='')
          h3
            span.counter 326
          h6 Desert receipies
    .row
      .col-12
        img.mb-70(src='images/critique/img/bg-img/about.png' alt='')
        p.text-center
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin malesuada et mauris ut lobortis. Sed eu iaculis sapien, eget luctus quam. Aenean hendrerit varius massa quis laoreet. Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
// ##### About Area End #####
// ##### Contact Area Start #####
.contact-area.section-padding-0-80
  .container
    .row
      .col-12
        .section-heading
          h3 Contact Us
    .row
      .col-12
        .contact-form-area
          form(action='#' method='post')
            .row
              .col-12.col-lg-6
                input#name.form-control(type='text' placeholder='Name')
              .col-12.col-lg-6
                input#email.form-control(type='email' placeholder='E-mail')
              .col-12
                input#subject.form-control(type='text' placeholder='Subject')
              .col-12
                textarea#message.form-control(name='message' cols='30' rows='10' placeholder='Message')
              .col-12.text-center
                button.btn.delicious-btn.mt-30(type='submit') Send
// ##### Contact Area End #####
// ##### Follow Us Instagram Area Start #####
.follow-us-instagram
  .container
    .row
      .col-12
        h5 Follow Us Instragram
  // Instagram Feeds
  .insta-feeds.d-flex.flex-wrap
    // Single Insta Feeds
    .single-insta-feeds
      img(src='images/critique/img/bg-img/insta1.jpg' alt='')
      // Icon
      .insta-icon
        a(href='#')
          i.fa.fa-instagram(aria-hidden='true')
    // Single Insta Feeds
    .single-insta-feeds
      img(src='images/critique/img/bg-img/insta2.jpg' alt='')
      // Icon
      .insta-icon
        a(href='#')
          i.fa.fa-instagram(aria-hidden='true')
    // Single Insta Feeds
    .single-insta-feeds
      img(src='images/critique/img/bg-img/insta3.jpg' alt='')
      // Icon
      .insta-icon
        a(href='#')
          i.fa.fa-instagram(aria-hidden='true')
    // Single Insta Feeds
    .single-insta-feeds
      img(src='images/critique/img/bg-img/insta4.jpg' alt='')
      // Icon
      .insta-icon
        a(href='#')
          i.fa.fa-instagram(aria-hidden='true')
    // Single Insta Feeds
    .single-insta-feeds
      img(src='images/critique/img/bg-img/insta5.jpg' alt='')
      // Icon
      .insta-icon
        a(href='#')
          i.fa.fa-instagram(aria-hidden='true')
    // Single Insta Feeds
    .single-insta-feeds
      img(src='images/critique/img/bg-img/insta6.jpg' alt='')
      // Icon
      .insta-icon
        a(href='#')
          i.fa.fa-instagram(aria-hidden='true')
    // Single Insta Feeds
    .single-insta-feeds
      img(src='images/critique/img/bg-img/insta7.jpg' alt='')
      // Icon
      .insta-icon
        a(href='#')
          i.fa.fa-instagram(aria-hidden='true')
// ##### Follow Us Instagram Area End #####
// ##### Footer Area Start #####
footer.footer-area
  .container.h-100
    .row.h-100
      .col-12.h-100.d-flex.flex-wrap.align-items-center.justify-content-between
        // Footer Social Info
        .footer-social-info.text-right
          a(href='#')
            i.fa.fa-pinterest(aria-hidden='true')
          a(href='#')
            i.fa.fa-facebook(aria-hidden='true')
          a(href='#')
            i.fa.fa-twitter(aria-hidden='true')
          a(href='#')
            i.fa.fa-dribbble(aria-hidden='true')
          a(href='#')
            i.fa.fa-behance(aria-hidden='true')
          a(href='#')
            i.fa.fa-linkedin(aria-hidden='true')
        // Footer Logo
        .footer-logo
          a(href='index.html')
            img(src='images/critique/img/core-img/logo.png' alt='')
        // Copywrite
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made with 
          i.fa.fa-heart-o(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com' target='_blank') Colorlib
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// ##### Footer Area Start #####
// ##### All Javascript Files #####
// jQuery-2.2.4 js
script(src='js/jquery/jquery-2.2.4.min.js')
// Popper js
script(src='js/bootstrap/popper.min.js')
// Bootstrap js
script(src='js/bootstrap/bootstrap.min.js')
// All Plugins js
script(src='js/plugins/plugins.js')
// Active js
script(src='js/active.js')
