doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
  // Title
  title Delicious - Food Blog Template | Home
  // Favicon
  link(rel='icon' href='images/critique/img/core-img/favicon.ico')
  // Core Stylesheet
  link(rel='stylesheet' href='css/critique/css/style.css')
// Preloader
#preloader
  i.circle-preloader
  img(src='images/critique/img/core-img/salad.png' alt='')
// Search Wrapper
.search-wrapper
  // Close Btn
  .close-btn
    i.fa.fa-times(aria-hidden='true')
  .container
    .row
      .col-12
        form(action='#' method='post')
          input(type='search' name='search' placeholder='Type any keywords...')
          button(type='submit')
            i.fa.fa-search(aria-hidden='true')
// ##### Header Area Start #####
header.header-area
  // Top Header Area
  .top-header-area
    .container.h-100
      .row.h-100.align-items-center.justify-content-between
        // Breaking News
        .col-12.col-sm-6
          .breaking-news
            #breakingNewsTicker.ticker
              ul
                li
                  a(href='#') Hello World!
                li
                  a(href='#') Welcome to Colorlib Family.
                li
                  a(href='#') Hello Delicious!
        // Top Social Info
        .col-12.col-sm-6
          .top-social-info.text-right
            a(href='#')
              i.fa.fa-pinterest(aria-hidden='true')
            a(href='#')
              i.fa.fa-facebook(aria-hidden='true')
            a(href='#')
              i.fa.fa-twitter(aria-hidden='true')
            a(href='#')
              i.fa.fa-dribbble(aria-hidden='true')
            a(href='#')
              i.fa.fa-behance(aria-hidden='true')
            a(href='#')
              i.fa.fa-linkedin(aria-hidden='true')
    // Navbar Area
  .delicious-main-menu
    .classy-nav-container.breakpoint-off
      .container
        // Menu
        nav#deliciousNav.classy-navbar.justify-content-between
          // Logo
          a.nav-brand(href='index.html')
            img(src='img/core-img/logo.png' alt='')
          // Navbar Toggler
          .classy-navbar-toggler
            span.navbarToggler
              span
              span
              span
          // Menu
          .classy-menu
            // close btn
            .classycloseIcon
              .cross-wrap
                span.top
                span.bottom
            // Nav Start
            .classynav
              ul
                li.active
                  a(href='index.html') Home
                li
                  a(href='#') Pages
                  ul.dropdown
                    li
                      a(href='index.html') Home
                    li
                      a(href='about.html') About Us
                    li
                      a(href='blog-post.html') Blog Post
                    li
                      a(href='receipe-post.html') Receipe Post
                    li
                      a(href='contact.html') Contact
                    li
                      a(href='elements.html') Elements
                    li
                      a(href='#') Dropdown
                      ul.dropdown
                        li
                          a(href='index.html') Home
                        li
                          a(href='about.html') About Us
                        li
                          a(href='blog-post.html') Blog Post
                        li
                          a(href='receipe-post.html') Receipe Post
                        li
                          a(href='contact.html') Contact
                        li
                          a(href='elements.html') Elements
                        li
                          a(href='#') Dropdown
                          ul.dropdown
                            li
                              a(href='index.html') Home
                            li
                              a(href='about.html') About Us
                            li
                              a(href='blog-post.html') Blog Post
                            li
                              a(href='receipe-post.html') Receipe Post
                            li
                              a(href='contact.html') Contact
                            li
                              a(href='elements.html') Elements
                li
                  a(href='#') Mega Menu
                  .megamenu
                    ul.single-mega.cn-col-4
                      li.title Catagory
                      li
                        a(href='index.html') Home
                      li
                        a(href='about.html') About Us
                      li
                        a(href='blog-post.html') Blog Post
                      li
                        a(href='receipe-post.html') Receipe Post
                      li
                        a(href='contact.html') Contact
                      li
                        a(href='elements.html') Elements
                    ul.single-mega.cn-col-4
                      li.title Catagory
                      li
                        a(href='index.html') Home
                      li
                        a(href='about.html') About Us
                      li
                        a(href='blog-post.html') Blog Post
                      li
                        a(href='receipe-post.html') Receipe Post
                      li
                        a(href='contact.html') Contact
                      li
                        a(href='elements.html') Elements
                    ul.single-mega.cn-col-4
                      li.title Catagory
                      li
                        a(href='index.html') Home
                      li
                        a(href='about.html') About Us
                      li
                        a(href='blog-post.html') Blog Post
                      li
                        a(href='receipe-post.html') Receipe Post
                      li
                        a(href='contact.html') Contact
                      li
                        a(href='elements.html') Elements
                    .single-mega.cn-col-4
                      .receipe-slider.owl-carousel
                        a(href='#')
                          img(src='img/bg-img/bg1.jpg' alt='')
                        a(href='#')
                          img(src='img/bg-img/bg6.jpg' alt='')
                li
                  a(href='receipe-post.html') Receipies
                li
                  a(href='receipe-post.html') 4 Vegans
                li
                  a(href='contact.html') Contact
              // Newsletter Form
              .search-btn
                i.fa.fa-search(aria-hidden='true')
            // Nav End
// ##### Header Area End #####
// ##### All Javascript Files #####
// jQuery-2.2.4 js
script(src='js/jquery/jquery-2.2.4.min.js')
// Popper js
script(src='js/bootstrap/popper.min.js')
// Bootstrap js
script(src='js/bootstrap/bootstrap.min.js')
// All Plugins js
script(src='js/plugins/plugins.js')
// Active js
script(src='js/active.js')
